.containerPokemon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.pokemonIdBack {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  font-weight: 800;
  z-index: -1;
  color: var(--clr-gray);
}

.pokemonImage {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemonImage img {
  width: 100%;
  max-width: 6rem;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}

.containerId {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.containerId p {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
  font-size: 0.75rem;
  font-weight: 500;
}

.containerId h2 {
  font-size: 1.2rem;
  font-weight: 800;
}

.typePokemon {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.statusPokemon {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}

.stat {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}
