.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
}

.innerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.display {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.displayButton {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.buttonSearch {
  background-color: #254daa;
  padding: 0.5rem;
  border: 0;
  border-radius: 100vmax;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
